@import "fonts"
@import "libs"
@import "base"
@import "vars"
@mixin optional-at-root($sel) 
    @at-root #{if(not &, $sel, selector-append(&, $sel))} 
        @content;

@mixin placeholder
    @include optional-at-root('::-webkit-input-placeholder')
        @content;
    @include optional-at-root(':-moz-placeholder') 
        @content;
    @include optional-at-root('::-moz-placeholder') 
        @content;
    @include optional-at-root(':-ms-input-placeholder') 
        @content;

// @include placeholder 
//     color: black
//     opacity: 1

#block-header
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(../img/bg/header.png)    
    background-size: cover
    color: white 
    
    .content
        max-width: 48rem
        margin: 0 auto
        padding-top: 15.8rem
        padding-bottom: 12.5rem
        font-size: 2.2rem
        .author
            font-size: 2rem
            text-align: right
            span
                font-family: 'PNCB'
                font-size: 2.24rem
        .title
            font-size: 2.8rem
            text-transform: uppercase
            font-family: 'PNCB'

        .button
            font-size: 1.2rem

        .logo
            position: relative
            top: 3rem
            width: 50px

        .action
            text-align: center
            margin-top: 6rem

.container
    max-width: 116.5rem;
    margin: 0 auto
    padding: 0 1rem

    &.is-large
        max-width: 160rem;
    &.has-slider
        padding-bottom:  1rem

.button
    padding: 1.5rem 1rem
    text-transform: uppercase
    cursor: pointer
    transition: all .3s
    border: 2px solid
    background: transparent

    &.is-white
        border: 2px solid white
        color: white
        background: rgba(255,255,255,0.3)


        &:hover,
        &:focus
            background: rgba(255,255,255,0.5)

    &.is-action
        border: 2px solid $action
        color: white
        background: $action

        &:hover,
        &:focus
            border-color: darken($action, 20)
            background: darken($action, 20)

    &.is-large
        width: 100%
        

.row
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between

    .col

.section
    .section-title
        margin-top: 5rem
        margin-bottom: 0rem
        font-family: "PNCB"
        font-size: 2.6rem
    .has-slider
        .slider-title
             margin-bottom: 0 

.box
    margin-top: 5rem
    font-size: 2.0rem
    .title
        font-size: 2.1rem
        font-family: "PNCB"
        margin-top: 0

    .box-image
        margin-top: 3rem
        width: 100%
        height: 14rem
        display: flex;
        justify-content: center;
        align-items: center;


#block-work
    color: $gray
    .col
        max-width: 35rem

    .button
        font-size: 1.2rem

.has-text-center
    text-align: center

#box-1
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg/box-1.png);
    background-size: cover

#box-2
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg/box-2.png);
    background-size: cover

#box-3
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg/box-3.png);
    background-size: cover


.list-title 
    margin-bottom: 0
    font-weight: bold
    & + ul,
    & + ol
        margin-top: 0
        padding-left: 2rem

.info-block
    max-width: 45rem

.video-block
    flex-grow: 1;
    display: flex;
    justify-content: flex-end
    align-items: center



#block-about
    margin-top: 1rem
    background: $bg_gray
    color: $gray
    .row
        justify-content: flex-start

    .section-title
        margin-bottom: 5rem
    .slider-title
        margin-bottom: 0
    .container
        padding: 0

.text-about
    padding-left: 10rem
    .about-author
        margin-top: 5rem
        font-size: 2.2rem
        font-family: "PNCB"
        span
            text-transform: uppercase
.image-wrap
    height: 50rem
    width: 72rem
    img
      width: 100%
      height: 100%
      object-fit: cover

.slider
    padding-bottom: 2.5rem
    .img
        display: flex;
        justify-content: center;
        align-items: center;
        height: 11rem

.slick-dots li button::before
    font-size: 4rem
.slick-dots
    bottom: 0
    padding-bottom: 0.5rem
.slick-dotted.slick-slider
    margin-bottom: 0

#block-service
    padding-bottom: 5rem

.card
    margin: 5rem 1rem 0 1rem
    color: $gray
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.55);
    max-width: 34rem
    .card-header
        padding: 0 3.0rem 
        display: flex
        align-items: center
        color: white
        font-family: "PNCB"
        height: 12rem
        width: 100%
        font-size: 2.4rem
    .card-info
        min-height: 28rem
        position: relative
        padding: 0 3.0rem
        font-size: 2.0rem

        .button-wrap
            position: absolute
            left: 0
            right: 0
            bottom: 1rem
            margin: 0

            .button
                padding: 1rem 1.5rem
                font-size: 1.5rem
                font-family: "PNCB"
#card-1
    .card-header
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(../img/bg/card-1.png)
        background-size: cover;
#card-2
    .card-header
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(../img/bg/card-2.png)
        background-size: cover;
#card-3
    .card-header
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(../img/bg/card-3.png)
        background-size: cover;


#block-contact
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(../img/bg/footer.png)    
    background-size: cover
    padding-top: 4.5rem
    padding-bottom: 4.5rem


    .form
        .input,
        .textarea
            @include placeholder 
                color: $gray
                opacity: 1

.form-wrap
    max-width: 58rem
    padding: 1rem 2.5rem
    background: rgb(255,255,255)
    background: rgba(255,255,255, 0.4)
    color: white

    .group-input
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between

        input
            width: 49%

    .form-title
        font-size: 2.4rem
.form
    .input
        margin-bottom: 2rem
        padding: 0.5rem 0.3rem
        font-size: 1.4rem
        color: black
    .textarea
        font-size: 1.4rem
        padding: 1rem
        margin-bottom: 2rem
        width: 100%
        color: black
    .button
        &.is-action
            border-color: white


.copyright
    color: white
    font-size: 2.2rem
@import "media" // Всегда в конце
